{% extends ':glynn-admin:base.html.twig' %}

{% block title %}
    Asset not found - {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Asset not found</h1>
    {{ asset.name }}
{% endblock %}

